<div class="container">
  <div class="cat"><%= image_tag "cat.png", size: "600x822" %></div>
  <div class="slogan">
    <div class="content">
      <center><h1>Слоган:</h1>
        <br>
        Нужно хорошо делать свое дело, тогда у вас все будет круто :)
        <br>
        <br>
        <%= link_to "Свой путь", directions_path %>
        <br>
        <%= link_to "Тесты", root_path %>
      </center>
    </div>
  </div>
</div>
