<ul class="nav">
  <li> <%= link_to "Направления", directions_path %></li>
  <li><a href="#">Профессии</a></li>
  <li><a href="#">Тест</a></li>
  <li><a href="#">Элемент меню</a></li>
  <li><a href="#">Элемент меню</a></li>
  <li><a href="#">Элемент меню</a></li>
</ul>


<div class="home">
    <%= image_tag "cat.png", size: "600x822" %>
  <div class="slogan">
    <h1>Слоган</h1>
    <p>То, что мы делаем
      lorem lorem lorem
      lorem lorem lorem
    </p>
    <%= link_to "Тесты", root_path %>
    <%= link_to "Свой путь", directions_path %>
  </div>
</div>


