<ul class="nav">
  <li> <%= link_to "Главная", root_path %></li>
  <li> <%= link_to "Направления", directions_path %></li>
  <li><a href="#">Профессии</a></li>
  <li><a href="#">Тест</a></li>
  <li><a href="#">Элемент меню</a></li>
  <li><a href="#">Элемент меню</a></li>
  <li><a href="#">Элемент меню</a></li>
</ul>